<form><form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" placeholder="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Отправить">
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <input type="checkbox" name="student" value="is_student"> студент<br>
  <form action="/results" method = 'GET'>
</form>