{% extends 'base.html' %}

{% block content %}
<form action="/questions1" method = 'GET'>
	<h4>пройдите опрос пожалуйста</h4>
	<div class="row">
		<p class="col-md-6">Всем привет!<br>Я думал над темой для опроса и вспомнил один интересный момент, который можно поизучать. В данном опросе вам нужно будет выбрать, какое слово вы бы поставили в пропуск в предложениях. Я также собираю информацию о Вас в анонимизированном виде для статистики.<br>После прохождения формы Вас ждет небольшой подарок, а также Вы сможете посмотреть статистику по всем прошедшим опрос (вы можете сделать это и сейчас, но я не советую, чтобы вы не заспойлерили себе суть опроса).<br> Если вы не против пройти опрос (он займет не более 3-5 минут), жмите на кнопку ниже. Удачи!</p>
	</div>
	<p><input type="submit" value="Перейти к форме"></p>
    </fieldset>
</form>
{% endblock %}